/* --- Body styling --- */
h2.title {
    text-align: center;
    color: #0e5f71;
    text-shadow: 4px 4px 2px rgba(14,95,113, 0.2);
}

/* --- SVG styling --- */
svg {
    background-color: #e5eae6;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.axis .domain {
  /*display: none;*/
}
